.button {
  color: #fff;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.2s all linear;
}
.button.green {
  background-color: rgb(22 163 74);
}
.button.green:hover {
  background-color: rgb(21 128 61);
}
.button.red {
  background-color: rgb(163, 22, 22);
}
.button.red:hover {
  background-color: rgb(115, 18, 18);
}
.button.disabled {
  opacity: 0.5;
}
.button.disabled:hover {
  background-color: rgb(22 163 74);
}