.radio-input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #bdbdbd;
  transition: 0.2s all linear;
  margin-top: 6px;
}
.radio-input:checked {
  border: 6px solid rgb(22 163 74);
}